@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

html, body {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    width: 100%;
    height: 100%;
    margin: 0;
    scroll-behavior: smooth;
    background: linear-gradient(0deg, rgba(27,37,60,1) 0%, rgba(31,42,70,1) 22%, rgba(31,69,166,1) 100%);

    // &::-webkit-scrollbar {
    //     width: 0;
    // }
}

.noselect {
    user-select: none;
}

#canvas {
    max-width: 100%;
    max-height: 100%;
    margin-top: 50px;
    transform: translateX(47%);
    border: 3px solid #fff;
    border-radius: 10px;
}

img {
    display: none;
}

.main {
    position: relative;
    width: 100%;
    margin: 25px 0;

    &__title {
        margin-top: 25px;
        font-size: 35px;
        text-align: center;
    }

    &__buttons {
        display: flex;
        justify-content: center;
        gap: 25px;
    }
}

#mode {
    &-choose {
        display: block;
        margin: 25px auto;
        font-family: 'Yanone Kaffeesatz', sans-serif;
        font-size: 30px;
        padding: 5px;
        text-align: center;
        border: 3px solid #fff;
        border-radius: 10px;
    }

    &-easy {
        color: rgb(22, 101, 0);
    }

    &-difficult {
        color: rgb(26, 120, 0);
    }

    &-impossible {
        color: rgb(76, 191, 0);
    }
}

.buttons {
    &-item {
        font-size: 30px;
        padding: 10px;
        color: #fff;
        border: 3px solid #fff;
        border-radius: 10px;
        transition: all 0.3s ease 0s;

        &:hover {
            color: #000;
            background-color: #fff;
        }
    }
}
